<template>
  <div id="container">
    <v-btn block fab style="width: 100px;">
      <v-avatar :size="100" color="grey lighten-4">
        <img
          :src="img"
          alt="avatar"
        />
      </v-avatar>
    </v-btn>
    <v-chip color="#9f0e0e" text-color="white">{{username}}</v-chip>
  </div>
</template>

<script>
export default {
  name: "Avatar",
  data() {
    return {
      fab: true,
      block: true
    };
  },
  props: {
      username: String,
      img: String
  }
};
</script>

<style scoped>
#container {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border: 3px solid #9f0e0e;
}
</style>