<template>
  <b-carousel
    id="carousel-fade"
    style="text-shadow: 0px 0px 2px #000"
    :interval="2500"
    fade
  >
    <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid"
          :src="country"
          alt="picture of a Country"
        >
        <div class="carousel-caption d-none d-md-block tpdx">
          <h5>In each Country there are a lot of masterpieces ...</h5>
        </div>
      </b-carousel-slide>
    <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid"
          :src="movement"
          alt="picture of a random art's movement"
        >
        <div class="carousel-caption d-none d-md-block btsx">
          <h5>... tell us your tastes ...</h5>
        </div>
      </b-carousel-slide>
    <b-carousel-slide>
        <img
          slot="img"
          class="d-block img-fluid"
          :src="picture"
          alt="random famous painting"
        >
        <div class="carousel-caption d-none d-md-block btdx">
          <h5>... and find how to visit them for free!</h5>
        </div>
      </b-carousel-slide>
  </b-carousel>
</template>

<script>
  export default {
    name: "Carousel",
    computed: {
      country() {
      return require('./../assets/img/home_page/country' + Math.floor(Math.random() * 8+1)+ '.jpg')
      },
      movement(){
          return require('./../assets/img/home_page/movement' + Math.floor(Math.random() * 7+1)+ '.jpg')
      },
      picture(){
          return require('./../assets/img/home_page/picture' + Math.floor(Math.random() * 5+1)+ '.jpg')
      }
    }
  }
</script>

<style>
/*Style for 1080p*/
@media screen and (min-width: 1481px){
  .carousel {
    width: 100%;
    height: 700px;
    overflow:hidden
  }
  .tpdx {
    margin-left: 75%;
    margin-bottom: 35%; 
    width: 25%;
  }
  .btdx {
    margin-left: 75%;
    margin-bottom: 25%; 
    width: 25%;
  }

  .tpdx h5, .btsx h5, .btdx h5{
    font-size: 350%;
  }

  .btsx {
    margin-right: 95%;
    margin-bottom: 30%;
    width: 25%;
  }
}
/*Style for 720p*/
@media screen and (min-width: 770px) and (max-width: 1480px){
  .carousel {
    width: 100%;
    height: 700px;
    overflow:hidden
  }
  .tpdx {
    margin-left: 63%;
    margin-bottom: 32%;
    width: 37%;
  }
  .btdx {
    margin-left: 63%;
    margin-bottom: 5%; 
    width: 37%;
  }

  .tpdx h5, .btsx h5, .btdx h5{
    font-size: 300%;
  }

  .btsx {
    margin-right: 95%;
    margin-bottom: 20%;
    width: 32%;
  }
}
/*Shared Style*/
.carousel div h5{
  color: #707070;
  background-color: white;
  border-radius: 10%;
  border: 1px solid #707070;
  padding: 1%;
}
</style>
