<template>
  <v-footer dark height="auto" color="#9F0E0E">
      <v-card-text>
        <v-btn v-for="(icon, index) in icons" :key="index" target="_blank" :href="icon.link" mx-3 white--text icon>
          <v-icon size="24px">{{ icon.i }}</v-icon>
        </v-btn>
      </v-card-text>
      <v-card-text class="white--text">
         <p>
            <strong>Contact us: museum.site@gmail.com</strong>
        </p>
        &copy;2019 —
        <strong>Museum</strong>
      </v-card-text>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    icons: [
      {
        i: "fab fa-facebook",
        link: "https://www.facebook.com/"
      },
      {
        i: "fab fa-twitter",
        link: "https://twitter.com/"
      },
      {
        i: "fab fa-linkedin",
        link: "https://linkedin.com"
      },
      {
        i: "fab fa-instagram",
        link: "https://instagram.com"
      }
    ]
  })
};
</script>

<style scoped>
p {
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.indigo {
    background-color: #9F0E0E !important;
    bottom: 0;
}
</style>