<template>
  <div>
    <b-navbar toggleable="lg" type="dark">
      <b-navbar-brand>
        <b-link to="/">| Museum |</b-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item>
            <router-link to="/">Home</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/" v-scroll-to="'#searchcontainer'">Search</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link to="/" v-scroll-to="'#inspireMe'">Inspire Me</router-link>
          </b-nav-item>
           <b-nav-item v-if="isLoggedIn" >
            <router-link to="/userPage">Profile</router-link>
          </b-nav-item>
          <b-nav-item>
            <router-link v-if="!isLoggedIn" to="/Login">Login</router-link>  
            <button v-else v-on:click="logout">Logout</button>
          </b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>

<script>
export default {
    name: "Header",
    methods: {
      logout(){
        this.$store.dispatch('deleteTokenEmail');
        this.$router.push({ name: "home"})
      }},
    computed:{
      isLoggedIn(){          
        return this.$store.getters.isLoggedIn
      }
    }
};
</script>

<style scoped>
*{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.navbar {
  background-color: #9F0E0E !important;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.43);
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.43);
}

.navbar a {
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #fff;
}

.navbar a {
  color: #fff;
}

.navbar a {
  color: #fff;
}

#nav a {
  padding: 15px;
  font-weight: bold;
  color: #000;
}

#nav a.router-link-exact-active {
  color: #FFF;
}
</style>