<template>
    <div class="inspireContainer" id="inspireMe">
        <img id="europeMap" src="./../assets/img/europe_inspire.png" alt="Europe's map">
        <div class="inspireMEbutton"> <button v-on:click="inspireMe">Inspire Me!</button></div>
        <br>   
        <h3 style="display:inline;">Discover new museums in Europe </h3>
        <div style="display:inline;">
        <v-btn  flat icon color="blue" @click="$bvModal.show('modalInspireMe')">
         <v-icon>info</v-icon>
        </v-btn>
        <b-modal id=modalInspireMe hide-footer>
        <template slot="modal-title">
        Find new paintings and museums
      </template>
      <div class="d-block">
      Hit the button 'Inspire Me' to discover some selected paintings from our catalog.
    </div>
   
  </b-modal>
</div>
    </div>
</template>

<script>
export default {
  name: 'InspireMe',
   methods: {
       inspireMe(){
           this.$router.push({ name: "search", params: { filter: "inspireMe" }})
       }
   }
};
</script>

<style>

/*Style for web*/
@media screen and (min-width: 1281px){
    #europeMap{
        margin-bottom: 2%;
    }
    .inspireMEbutton {
        right: 3%;
        font-size: 270%;    
        top: 50pt;
        margin-right:25%;
    }
}
/*Style for 720p*/
@media screen and (min-width: 770px) and (max-width: 1280px){
    #europeMap{
        margin-bottom: 2%;
    }
    .inspireMEbutton {
        right: 3%;
        font-size: 250%;    
        top: 50pt;
        margin-right:13%;
    }
}
/*Style for mobile*/
@media screen and (max-width: 769px){
    #europeMap{
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 8%;
    }
    .inspireMEbutton {
        margin-left: 60%;
        font-size:150%;    
        top: 50pt;
  }
}
/*Shared Style*/
.inspireContainer{
    position: relative;
    text-align: center;
    color: #707070;
}
.containerimage {
    text-align: center;
    color: black;
}
.inspireMEbutton {
    position: absolute;
    top: 8px;
    right: 16px;
    background: white;
    border: 1pt #707070 solid;  
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 1%;
    border-radius:10px;
}
#europeMap{
    border: 1px solid #707070;
}
</style>

