<template>
  <div id="container">
    <v-chip color="#9f0e0e" text-color="white">Level {{level}}</v-chip>
    <v-progress-circular
      :rotate="360"
      :size="100"
      :width="15"
      :value="expThisLevel"
      color="#9f0e0e"
    >{{expThisLevel}}%</v-progress-circular>
  </div>
</template>

<script>
export default {
  name: "Levelbar",
  data() {
    return {
      interval: {},
    };
  },
  props: {
    level: Number,
    expThisLevel: Number,
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
};
</script>

<style scoped>
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.3em;
}
</style>