<template>
  <div id="container">
    <v-card class="singlecard">
      <v-img
        :src="museum.image"
        height="200px"
      ></v-img>
      <v-card-title primary-title>
        <div style="text-align: left;">
          <div class="headline">{{museum.name}}</div>
          <span class="grey--text">{{museum.countryLabel}}, {{museum.city}}</span>
        </div>
        <v-spacer></v-spacer>
        <v-card-actions>
          <v-btn @click.native="addLike" flat icon color="#9f0e0e">
            <v-icon>favorite</v-icon>
          </v-btn>
          <span class="subheading mr-2" style="color: #9f0e0e;" :key="componentKey"><strong>{{actualLike}}</strong></span>
          <v-btn @click.native="addWish" flat icon color="yellow darken-2">
            <v-icon>star</v-icon>
          </v-btn>
          <v-btn flat icon color="red lighten-2" :href="museum.website" target="_blank">
            <v-icon>link</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card-title>
      <v-card-text>
        <div id="pricedesc">
               <p>
                 Free: {{museum.free}}
               </p>
             </div>
      </v-card-text>
      <h6>click below to discover more about {{museum.name}}</h6>
      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? 'keyboard_arrow_up': 'keyboard_arrow_down'  }}</v-icon>
      </v-btn>

      <v-card-text v-show="show" transition="scale-transition" origin="center center">
        <div id="map">
          <GmapMap 
            :center="centerToMuseumPosition()"
            :zoom="16"
            :options="{
      zoomControl: false,
      mapTypeControl: false,
      scaleControl: false,
      streetViewControl: false,
      rotateControl: false,
      fullscreenControl: false,
      disableDefaultUi: false
    }"
            map-type-id="roadmap"
            style="width: 100%; height: 250px"
          >
            <GmapMarker
              :key="index"
              v-for="(m, index) in markers"
              :position="m.position"
              :clickable="true"
              :draggable="true"
              @click="center=m.position"
            />
          </GmapMap>
        </div>
        <div id="infobox">
          <p>
            <strong>INFO</strong>
          </p>
          <p>
            <strong>Country:</strong> {{museum.countryLabel}}
          </p>
          <p>
            <strong>Accessibility:</strong> Wheelchair accessible
          </p>
          <p v-if="museum.website">            
              <strong>Website: </strong> <a :href="museum.website" target="_blank">{{museum.website}}</a>
          </p>
          <p v-if="museum.phone">
            <strong>Phone:</strong> {{museum.phone}}
          </p>
          <p v-if="museum.email">
            <strong>Email:</strong> {{museum.email}}
          </p>
          <p v-if="museum.openDays">
            <strong>Open: </strong> {{museum.openDays}}
          </p>
          <p v-if="museum.openFrom && museum.openTo">
            <strong>From: </strong> {{museum.openFrom}} <strong> to: </strong> {{museum.openTo}}
          </p>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "Museum",
  props: {
    museum: Object,
  },
  data() {
    return {
      markers: [],
      show: false,
      lat: Number,
      lng: Number,
      componentKey: 0,
      actualLike : 0
    };
  },
  mounted() {
    this.actualLike = this.museum.like
    this.placeMarker();
  },
  methods: {
    placeMarker() {
      this.markers.push({ position: this.centerToMuseumPosition() });
      
    },
    centerToMuseumPosition(){
      let museumCoordinates = String(this.museum.coordinateLocation)
      var array = museumCoordinates.split(" ")
      var latMuseum = array[1].substring(0, array[1].length-1)
      var lngMuseum = array[0].substring(6, array[0].length)
      return{
        lat: parseFloat(latMuseum),
        lng: parseFloat(lngMuseum)
      }
    },
    addLike(){
     if(this.$store.getters.isLoggedIn){
       const museumVoteValue = {};
       museumVoteValue['email'] = localStorage.getItem('email');
       console.log(museumVoteValue['email'])
       museumVoteValue['museumName'] = this.museum.name
       this.$axios.get("localhost:4000/api/voteMuseums", {params: {filter: { $and: [ { museumName: this.museum.name }, { email: localStorage.getItem('email') } ] } }})
        .then(response => {
                                if(response.data.length == 0){
                                    var newLike = this.museum.like +1
                                    const museumValue = {};
                                    museumValue['name'] = this.museum.name
                                    museumValue['like'] = newLike
                                    this.$axios.post("localhost:4000/api/museums/addLike", museumValue)
                                      .then(response => {
                                        this.forceRerender()
                                       this.$axios.post("localhost:4000/api/voteMuseums", museumVoteValue)
                                        })
                                      .catch(error=> (console.log(error)));    
                                }                                 
        })        
     }else{
       // the user must do the login
       this.$router.push({ name: "login"})
     }      
    },
    addWish(){
     if(this.$store.getters.isLoggedIn){
       const museumWishValue = {};
       museumWishValue['email'] = localStorage.getItem('email');
       museumWishValue['museumName'] = this.museum.name
       this.$axios.get("localhost:4000/api/wishMuseums", {params: {filter: { $and: [ { museumName: this.museum.name }, { email: localStorage.getItem('email') } ] } }})
             .then(response => {
                                if(response.data.length == 0){
                                    this.$axios.post("localhost:4000/api/wishMuseums", museumWishValue)
                                      .catch(error=> (console.log(error)));    
                                }                              
        })       
     }else{
       // the user must do the login
       this.$router.push({ name: "login"})
     }
    },
    forceRerender() {
      this.actualLike += 1;
      this.componentKey += 1;  
    }
  }
};
</script>

<style scoped>
#container {
  margin: 0.5em;
  margin-top: 2em;
}

#map {
  border: 6px solid #9f0e0e;
  border-radius: 10px;
  padding: 0px;
  margin: 0px;
}

#pricedesc p {
  font-weight: bold;
  color: #666;
  text-align: center;
  padding: 0.8em;
}

#infobox {
  font-weight: bold;
  color: #666;
  padding: 0.8em;
  text-align: left;
}

</style>
