<template>
<div id="container">
    <v-card class="singlecard">
      <v-img
        :src="painting.image"
        height="200px"
      ></v-img>
      <v-card-title primary-title>
        <div style="text-align: left;">
          <div class="headline">{{painting.pictureLabel}}</div>
          <span class="grey--text">{{painting.year.substring(0,4)}} {{painting.creatorLabel}}, {{painting.museumLabel}}</span>
        </div>
        <v-spacer></v-spacer>
        <v-card-actions>
          <v-btn @click.native="addLike" flat icon color="#9f0e0e">
            <v-icon>favorite</v-icon>
          </v-btn>
          <span class="subheading mr-2" style="color: #9f0e0e;" :key="componentKey"><strong>{{actualLike}}</strong></span>
          <v-btn @click.native="addWish" flat icon color="yellow darken-2">
            <v-icon>star</v-icon>
          </v-btn>
        </v-card-actions>
      </v-card-title>
      <h6>click below to discover more information</h6>
      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? 'keyboard_arrow_up':'keyboard_arrow_down'  }}</v-icon>
      </v-btn>

      <v-card-text v-show="show" transition="scale-transition" origin="center center">
      You can find at
      <Museum :museum="museum"/>  
      </v-card-text>
      
    </v-card>
    
  </div>
</template>

<script>
import Museum from './Museum'
export default {
  name: "Painting",
  props: {
    painting: Object,
    museum: Object
  },
  components: {
    Museum,
  },
  data() {<icon name="flag"></icon>
    return {
      show: false,
      componentKey: 0,
      actualLike :0
    };
  },
  mounted() {
    this.actualLike = this.painting.like
  },
  methods:{
    addLike(){
     if(this.$store.getters.isLoggedIn){
       
       const paintingVoteValue = {};
       paintingVoteValue['email'] = localStorage.getItem('email');
       paintingVoteValue['paintingName'] = this.painting.pictureLabel
       this.$axios.get("localhost:4000/api/votePainting", {params: {filter: { $and: [ { paintingName: this.painting.pictureLabel }, { email: localStorage.getItem('email') } ] } }})
             .then(response => {
                                if(response.data.length == 0){
                                   var newLike = this.painting.like +1
                                   const paintingValue = {};
                                   paintingValue['name'] = this.painting.pictureLabel
                                   paintingValue['like'] = newLike
                                  this.$axios.post("localhost:4000/api/paintings/addLike",paintingValue)
                                  .then(response => {
                                        this.forceRerender()
                                       this.$axios.post("localhost:4000/api/votePainting", paintingVoteValue)
                                        })
                                  .catch(error=> (console.log(error)));
                                }                                 
        })        
     }else{
       this.$router.push({ name: "login"})
       // the user must do the login 
     }
    },
    addWish(){
     if(this.$store.getters.isLoggedIn){
       
       const paintingWishValue = {};
       paintingWishValue['email'] = localStorage.getItem('email');
       paintingWishValue['paintingName'] = this.painting.pictureLabel
       this.$axios.get("localhost:4000/api/wishPainting", {params: {filter: { $and: [ { paintingName: this.painting.pictureLabel }, { email: localStorage.getItem('email') } ] } }})
             .then(response => {
                                if(response.data.length == 0){
                                   this.$axios.post("localhost:4000/api/wishPainting", paintingWishValue)
                                  .catch(error=> (console.log(error)));
                                }                                 
        }) 
        
     }else{
       this.$router.push({ name: "login"})
       // the user must do the login 
     }
    },
     forceRerender() {
      this.actualLike += 1;
      this.componentKey += 1;  
    }
  
  }
};
</script>

<style scoped>
#container {
  margin: 0.5em;
  margin-top: 2em;
}

#infobox {
  font-weight: bold;
  color: #666;
  padding: 0.8em;
  text-align: left;
}

.v-card__text {
  padding: 0em 0em 0.2em 0em;
}
</style>
