<template>
  <div id="searchcontainer">
  <h3 id="h3_research">Your research: </h3>
  <div class="modalbutton">
    <v-btn flat icon color="blue" @click="$bvModal.show('labelSearch')">
      <v-icon>info</v-icon>
    </v-btn>
    <b-modal id=labelSearch hide-footer>
      <template slot="modal-title">
        Search your favourite paintings and museums
      </template>
      <div class="d-block">
        Insert in the search box below the city you want to visit, your favourite artistic movement, the painting you want to see
        or the painter you want to discover. You can complete one of these fields or all of them to obtain a more specific result.
        Then, hit the button 'FIND YOUR ART' to discover your results!
      </div>
    </b-modal>
  </div>
  <form id="research_form" @submit="checkResearchForm">
    <div id="rowimage">
      <div class="containerimage">
        <img class="leftimage" :src="city" alt="picture of a random city">
        <div class="top-left">
          <label for="city">City</label><input id="city" v-model="cityInput" type="text" size="15" v-on:keyup="autoCompleteCity" v-on:blur="resetResults" autocomplete="off">
          <div class="topleftpanelfooter" v-if="city_results.length" :key="city_key">
            <ul class="list-group">
              <li class="list-group" v-for="result in city_results" v-bind:key="result">{{result}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div labelNumber class="containerimage">
        <img class="rightimage" :src="movement" alt="picture of a random movement">
        <div class="top-right">
          <label for="movement">Movement</label><input id="movement" v-model="movementInput" type="text" size="15"
           v-on:keyup="autoCompleteMovement" v-on:blur="resetResults" autocomplete="off">
          <div class="toprightpanelfooter" v-if="movement_results.length" :key="movement_key">
            <ul class="list-group">
              <li class="list-group" v-for="result in movement_results" v-bind:key="result">{{result}}</li>
            </ul>
          </div>  
        </div>
      </div>
    </div>
    <div id="rowimage">
      <div class="containerimage">
      <img class="leftimage" :src="painting" alt="picture of a random painting">  
        <div class="top-left"><label for="painting">Painting </label><input id="painting" v-model="paintingInput" type="text" size="15"></div>
      </div>
      <div class="containerimage">
      <img class="rightimage" :src="painter" alt="picture of a random painter">
        <div class="top-right">
          <label for="painter">Painter </label><input id="painter" v-model="painterInput" type="text" size="15"
            v-on:keyup="autoCompletePainter" v-on:blur="resetResults" autocomplete="off">
          <div class="toprightpanelfooter" v-if="painter_results.length" :key="painter_key">
            <ul class="list-group">
              <li class="list-group" v-for="result in painter_results" v-bind:key="result">{{result}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <input type="submit" value="Find your Art!" id="research_button">
  </form>
</div>
</template>

<script>
  export default {
    name: "SearchHome",
    data:function() {
      return {
        errorsReg:[],
        cityInput:'',
        movementInput:'',
        paintingInput:'',
        painterInput:'',
        city_results: [],
        city_key: 0,
        movement_results: [],
        movement_key: 0,
        painter_results: [],
        painter_key: 0
      }
    },
    methods: {
        checkResearchForm:function(e) {
          if(this.cityInput || this.movementInput || this.paintingInput || this.painterInput){
            let filterQuery = this.makeFilter()
            return true;
          } else {
            this.errorsReg.push("Specify at least one preference");
          }
          e.preventDefault();
        },

        makeFilter(){
          let filter = ""
          if(this.cityInput && !this.movementInput  && !this.paintingInput && !this.painterInput){
            // the user have choosen only the city -> select first the museum
            this.$axios.get("localhost:4000/api/museums",{params: {filter: { "city": this.cityInput}, sort: {}, limit: 32 }})
                          .then(response => { var orOfMuseums = []
                                              response.data.forEach(museum => {
                                              orOfMuseums.push({'museumLabel': museum.name});
                                              });
                                              this.$router.push({ name: "search", params: { filter: {$or : orOfMuseums}}})
                                            })
                          .catch(error=> (console.log(error)));    

          }else{
            // the user select one filter of the opera -> OR
            var filterComputed = {$or : [
                                  { "pictureLabel" : { $eq : this.paintingInput } },
                                  { "movementLabel" : { $eq : this.movementInput } },
                                  { "creatorLabel" : { $eq : this.painterInput } }
                                ]
                          }
            this.$router.push({ name: "search", params: { filter: filterComputed }})
          }
        },
        forceRenderCity(){
          this.city_key +=1;
        },
        forceRenderMovement(){
          this.movement_key +=1;
        },
        forceRenderPainter(){
          this.painter_key +=1;
        },
        resetResults(){
          this.painter_results = []
          this.movement_results = []
          this.city_results = []
        },
        autoCompleteCity(){
        if(this.cityInput.length > 1){
         this.$axios.get("localhost:4000/api/museums",{params: {filter: { "city": { $regex: '.*' + this.cityInput + '.*' }}, sort: {}, limit: 32 }})
          .then(response => {
            this.city_results = []
            response.data.forEach(museum =>{
              if(!this.city_results.includes(museum.city) && this.cityInput!=museum.city){
              this.city_results.push(museum.city)
              }
            })        
            this.forceRenderCity()
          });
        } else {
          this.city_results = []
        }
      },
      autoCompleteMovement(){
        if(this.movementInput.length > 1){
          this.$axios.get("localhost:4000/api/paintings", {params: {filter: {"movementLabel" : { $regex: '.*' + this.movementInput + '.*' }}, sort: {}, limit: 1000}})
            .then(response => {
              this.movement_results = []
              response.data.forEach(painting =>{
                if(!this.movement_results.includes(painting.movementLabel) && this.movementInput!=painting.movementLabel){
                  this.movement_results.push(painting.movementLabel);
                }
              })
            })
            this.forceRenderMovement()
        } else {
          this.movement_results = []
        }
      },
      autoCompletePainter(){
        if(this.painterInput.length > 1){
          this.$axios.get("localhost:4000/api/paintings", {params: {filter: {"creatorLabel" : { $regex: '.*' + this.painterInput + '.*' }}, sort: {}, limit: 1000}})
            .then(response => {
              this.painter_results = []
              response.data.forEach(painting =>{
                if(!this.painter_results.includes(painting.creatorLabel) && this.painterInput!=painting.creatorLabel){
                  this.painter_results.push(painting.creatorLabel)
                }
              })
            })
            this.forceRenderPainter()
        } else {
          this.painter_results = []
        }
      }
    },
    computed: {
      city() {
      return require('./../assets/img/search/city' + Math.floor(Math.random() * 4+1)+ '.jpg')
      },
      movement() {
      return require('./../assets/img/search/movement' + Math.floor(Math.random() * 5+1)+ '.jpg')
      },
      painting(){
          return require('./../assets/img/search/picture' + Math.floor(Math.random() * 5+1)+ '.jpg')
      },
      painter(){
          return require('./../assets/img/search/painter' + Math.floor(Math.random() * 4+1)+ '.jpg')
      }
    }
  }
</script>

<style>
/*Style for 720p*/
@media screen and (min-width: 770px) and (max-width: 1400px){
  .leftimage, .rightimage {
    width: 43%;
    margin-bottom: 2%;
  }
  .leftimage{
    float: left;
    margin-left: 6%;
  }
  .rightimage{
    float: right;
    margin-right: 6%;    
  }  
  #rowimage{
    height: 320px;
  }
  .topleftpanelfooter, .toprightpanelfooter{
    font-size: 50%;
  }
  .top-left, .top-right{   
    font-size: 210%;    
    top: 50pt;
    padding-left: 2%;  
  }    
  .top-left, .topleftpanelfooter{
    left: 3%;
  }
  .top-right, .toprightpanelfooter {
    right: 3%;
  }
  #research_button{    
    margin-left: 75%;
    font-size: 250%;
    padding-left: 1%;
    padding-right: 1%;
  }
  #h3_research{
    margin-left: 3%;
    font-size: 250%;
  }  
}
/*Style for 1080p*/
@media screen and (min-width: 1401px){
  .leftimage, .rightimage {
    width: 43%;
    margin-bottom: 2%;
  }
  .leftimage{
    float: left;
    margin-left: 6%;
  }
  .rightimage{
    float: right;
    margin-right: 6%;    
  }  
  #rowimage{
    height: 460px;
  }
  .topleftpanelfooter, .toprightpanelfooter{        
    font-size: 50%;
    display: inline;
  }
  .top-left, .top-right{    
    font-size: 250%;    
    top: 50pt;    
    padding-left: 2%;    
  }    
  .top-left, .topleftpanelfooter {
    left: 3%;
  }
  .top-right, .toprightpanelfooter {
    right: 3%;
  }
  #research_button{    
    margin-left: 82%;
    font-size: 270%;
    padding-left: 1%;
    padding-right: 1%;
  }
  #h3_research{
    margin-left: 3%;
    font-size: 270%;
  }
  .list-group{
    width: 200pt;
  }
}

/*Style for mobile*/
@media screen and (max-width: 769px){
  .leftimage, .rightimage {
    width: 90%;
    margin-bottom: 4%;
  }
  .leftimage{
    margin-left: 8%;    
    margin-right: 2%;
  }
  .rightimage{
    margin-right: 8%;
    margin-left: 2%;
  }
  .top-left, .top-right{
    font-size: 120%;
    padding-left: 3%;    
    top: 30pt;
  }  
  .top-left {
    left: 5%;
  }
  .top-right {
    right: 5%;
  }
   #research_button{    
    margin-left: 60%;    
    font-size: 150%;
  }
  #h3_research{
    margin-left: 5%;
    font-size: 150%;
  }
  .topleftpanelfooter{
    font-size: 70%;
  }
}

/*Shared Style*/
.leftimage, .rightimage {
  border-radius: 10px;
}
#h3_research{
  display: inline;
  text-align: left;
  color: #707070;
}
.modalbutton{
  display: inline;
}
.containerimage {
  position: relative;
  text-align: center;
  color: #707070;
}
.top-left, .top-right{
  position: absolute;
  border-radius: 15px;  
  background: white;
  border: 1px #707070 solid;
  color: #707070;
  padding: 1%, 5%;
}
#research_button{
  background: #9F0E0E;
  color: white;
  border-radius: 10px;
  border: 1pt #707070 solid;  
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 3%;
}

input.readonly{
  width:500px;
}

input[type=text]{
  padding: 0px 1%;
  margin: 5px 0;
  box-sizing:border-box;
  border: none;
  border-bottom: 1px solid #707070;
  margin-left: 10px;
  margin-right: 10px;
}

</style>
