<template>
    <div class="separator">  <hr> </div>
</template>


<script>
export default {
  name: 'Separator',
};
</script>

<style>
.separator{
    width: 84%;
    height: 4%;
    margin-left: 8%;
    margin-right: 8%;
    color: #707070;
    margin-top: 1%;
    margin-bottom: 1%;
}
</style>
