<template>
  <div class="home">

    <!-- home slides -->
    <Carousel/>

    <Separator/>

    <!-- sentence -->
    <div>
      <h2 id="slogan"> Search your favourite paintings and discover how to see them for free</h2>
    </div>

    <Separator/>

    <!-- search -->
    <SearchHome/>

    <Separator/>

    <!-- inspire me -->
    <InspireMe/>

    <Separator/>

    <!-- sentence -->
    <div>
      <h2 id="slogan"> Most popular paintings and museums</h2>
    </div>

    <SearchPainting filter= "mostPopular"/>
    <SearchMuseum filter= "mostPopular"/>
   

  </div>
</template>

<script>
// @ is an alias to /src
import Carousel from '@/components/Carousel.vue'
import SearchHome from '@/components/SearchHome.vue'
import InspireMe from '@/components/InspireMe.vue'
import Separator from '@/components/Separator.vue'
import SearchMuseum from '@/views/SearchResult.vue'
import SearchPainting from '@/views/SearchResultPaintings.vue'

export default {
  name: 'home',
  components: {
    Carousel,
    SearchHome,
    InspireMe,
    Separator,
    SearchMuseum,
    SearchPainting    
  }
}
</script>

<style>
/*Style for web*/
@media screen and (min-width: 770px){
  .carousel {
    width: 100%;
    height: 700px;
    overflow:hidden
  }
  #slogan {    
    font-size: 290%; 
    margin-top: 1%;
    margin-bottom: 2%;
  }
}
/*Style for mobile*/
@media screen and (max-width: 769px){
  #slogan {
    margin-top: 4%;
    margin-bottom: 8%;    
    font-size: 250%; 
  }
}
/*Shared Style*/
  *{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  }
  #slogan {
    font-style: oblique; 
    font-weight: 100; 
    color: #707070; 
  }
</style>
