<template>
  <div id="container">
    <div id="formcontainer">
      <v-card>
        <form>
          <v-text-field
            v-model="email"
            v-validate="'required|email'"
            label="E-mail"
            data-vv-name="email"
            :error-messages="errors.collect('email')"
            required
            type="email"
          ></v-text-field>
          <v-text-field
            v-model="password"
            v-validate="'required|min:1'"
            label="Password"
            data-vv-name="password"
            :error-messages="errors.collect('password')"
            required
            type="password"
          ></v-text-field>
          <v-card-text v-if="showError" style="color: red;">{{error}}</v-card-text>
          <v-btn @click="submit" color="#9f0e0e" style="color: white;">Login</v-btn>
        </form>
        <router-link to="/Register">Non hai un account? Registrati</router-link>
      </v-card>
    </div>
  </div>
</template>

<script>
import router from "../router";
import store from "../store";
export default {
  name: "login",
  $_veeValidate: {
    validator: "new"
  },
  data: () => ({
    email: "",
    password: "",
    showError: false,
    error: ""
  }),
  dictionary: {
    attributes: {
      email: "E-mail Address"
    },
    custom: {
      password: {
        required: () => "Password can not be empty",
        min: "The password field must be longer than 0 characters"
      }
    }
  },
  methods: {
    submit() {
      this.error = "";
      this.showError = false;
      this.$validator.validateAll().then(valid => {
        if (valid && this.email != "" && this.password != "") {          
          this.$axios
            .post("localhost:4000/api/login", {
              email: this.email,
              password: this.password
            })
            .then(response => {              
              if (response.data.status === "error") {
                this.error = response.data.message;
                this.showError = true;
              } else {
                let token = response.data.data.token;
                let email = this.email;
                this.$axios
                .get("localhost:4000/api/userLogin",{params: {filter: { $and: [ { date: new Date().toLocaleDateString() }, { email: this.email } ] }}})
                .then(response =>  {
                  if(response.data.length == 0){
                      const loginValue = {};
                      loginValue['date'] = new Date().toLocaleDateString();
                      loginValue['email'] = email;
                      this.$axios.post("localhost:4000/api/userLogin",loginValue)
                          .then(response => {
                              const loginNumberValue = {};
                              loginNumberValue['email'] = this.email
                              this.$axios.post("localhost:4000/api/addLoginUser", loginNumberValue)
                              this.$store.dispatch("storageToken", { token, email });
                              this.$router.push({ name: "home" });
                          })
                          .catch(error=> (console.log(error)));
                    }else{
                      this.$store.dispatch("storageToken", { token, email });
                      this.$router.push({ name: "home" });
                    }                    
                })                
              }
            })
            .catch(function(error) {
              err = error;
              showErr = true;
            });
        } else {
          this.error = "Dati non validi";
          this.showError = true;
        }
      });
    }
  },
  mounted() {
    this.$validator.localize("en", this.dictionary);
  }
};
</script>

<style scoped>
img {
  width: 100%;
  height: 100%;
  display: block;
  margin-top: 5em;
}
#container {
  display: flex;
  flex-direction: column;
  height: 80%;
  background-image: url("./../assets/img/register.jpg");
  background-position: center;
  align-items: center;
}
#formcontainer {
  margin: 0.5em;
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 18em 0em 18em 0em;
}

@media screen and (min-width: 770px) {
  #formcontainer {
    width: 35%;
  }
}

@media screen and (max-width: 769px) {
  #formcontainer {
    width: 75%;
  }
  #formcontainer img {
    width: 100%;
  }
}
.v-card {
  padding: 3em;
}
</style>
