<template>
  <div id="container">
    <div id="formcontainer">
      <v-card>
        <form>
          <v-text-field
            v-model="name"
            v-validate="'required|max:24'"
            :counter="24"
            :error-messages="errors.collect('name')"
            label="Name and Surname"
            data-vv-name="name"
            required
            type="input"
          ></v-text-field>
          <v-text-field
            v-model="username"
            v-validate="'required|max:16'"
            :counter="16"
            :error-messages="errors.collect('username')"
            label="Username"
            data-vv-name="username"
            required
            type="input"
          ></v-text-field>
          <v-text-field
            v-model="email"
            v-validate="'required|email'"
            :error-messages="errors.collect('email')"
            label="E-mail"
            data-vv-name="email"
            required
            type="email"
          ></v-text-field>
          <v-text-field
            v-model="password"
            v-validate="'required|min:6'"
            :counter="6"
            :error-messages="errors.collect('password')"
            label="Password"
            data-vv-name="password"
            required
            type="password"
          ></v-text-field>
          <v-text-field
            v-model="confirmPassword"
            v-validate="'required|min:6'"
            :counter="6"
            :error-messages="errors.collect('confirmPassword')"
            label="Confirm Password"
            data-vv-name="confirmPassword"
            required
            type="password"
          ></v-text-field>
          <v-card-text v-if="showError" style="color: red;">{{error}}</v-card-text>
          <v-btn @click="submit" color="#9f0e0e" style="color: white;">Registrati</v-btn>
        </form>
        <router-link to="/Login">Hai già un account? Login</router-link>
      </v-card>
    </div>
  </div>
</template>

<script>
import store from "../store";
export default {
  name: "register",
  $_veeValidate: {
    validator: "new"
  },
  data: () => ({
    name: "",
    email: "",
    username: "",
    password: "",
    confirmPassword: "",
    showError: false,
    error: "",
    dictionary: {
      attributes: {
        email: "E-mail Address"
        // custom attributes
      },
      custom: {
        name: {
          required: () => "Name can not be empty",
          max: "The name field may not be longer than 24 characters"
          // custom messages
        },
        username: {
          required: () => "Username can not be empty",
          max: "The username field may not be longer than 16 characters"
          // custom messages
        },
        password: {
          required: () => "Password can not be empty",
          min: "The password field must be longer than 6 characters"
        },
        confirmPassword: {
          required: () => "Password can not be empty",
          min: "The password field must be longer than 6 characters"
        }
      }
    }
  }),
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },

  methods: {
    submit() {
      this.error = "";
      this.showError = false;
      this.$validator.validateAll().then(valid => {
        if (valid) {
          if (this.password === this.confirmPassword) {
            this.$axios
              .post("localhost:4000/api/register", {
                email: this.email,
                name: this.name,
                username: this.username,
                password: this.password,
                numberLogin: 0
              })
              .then(response => {
                if (response.data.message.errors != null) {
                  if(response.data.message.errors.username != null) {
                    this.error = "Username yet taken"
                  }
                  if(response.data.message.errors.email != null) {
                    this.error = "Email yet used"
                  }
                  this.showError = true;
                } else {
                  this.$router.push({ name: "login" });
                }
              })
              .catch(function(error) {
                console.log(error);
              });
          }
        }
      });
    }
  }
};
</script>

<style scoped>
img {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 874px;
  max-height: 143px;
  margin-top: 5em;
}
#container {
  display: flex;
  flex-direction: column;
  height: 80%;
  background-image: url("./../assets/img/register.jpg");
  background-position: center;
  align-items: center;
}
#formcontainer {
  margin: 0.5em;
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 12em 0em 12em 0em;
}

@media screen and (min-width: 770px) {
  #formcontainer {
    width: 35%;
  }
}

@media screen and (max-width: 769px) {
  #formcontainer {
    width: 75%;
  }
}
.v-card {
  padding: 3em;
}
</style>
 