<template>
  <div id="container">
    <v-container fluid grid-list-md>
      <v-data-iterator
        :items="museums"
        :rows-per-page-items=[1]
        :pagination.sync="pagination"
        content-tag="v-layout"
        row
        wrap
      >
        <template v-slot:item="props">
          <v-flex xs12 sm6 md4 lg3>
            <Museum :museum="props.item" />
          </v-flex>
        </template>
      </v-data-iterator>
    </v-container>
  </div>
</template>

<script>
// component for the result of the museum
// @ is an alias to /src
import Museum from "@/components/Museum.vue";

export default {
  name: "SearchMuseum",
  props: {
    filter: String
  },
  components: {
    Museum
  },
  data() {
    return {
      museums: [],
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      }
    };
  },
  mounted() {
    this.listMuseums();
  },
  methods: {
    listMuseums() {
      var filterInput = ""
      if(this.$route.params.filter){
        filterInput = {filter: this.$route.params.filter, sort: {}, limit: 32}//this.$route.params.filter
      }else{
        if(this.filter == "mostPopular"){
            filterInput = {filter: {}, sort: {like: -1}, limit: 4} //this.$route.params.filter
        } 
      }
      this.$axios
        .get("localhost:4000/api/museums",{params: filterInput})
        .then(response => (this.museums = response.data))
        .catch(error => console.log(error));
    }
  }
};
</script>
