<template>

  <div id="container">
    <div v-if="isInspireMe()">
      <Separator />
     <h3 id="slogan"> Some paintings from the catalog, enjoy them! </h3>
     <Separator/>
    </div>
     <div v-if="isResult()">
      <Separator />
     <h3 id="slogan"> Here your results, enjoy them! </h3>
     <Separator/>
    </div>
    <v-container fluid grid-list-md>
      <v-data-iterator
        :items="result_query"
        :rows-per-page-items=[1]
        :pagination.sync="pagination"
        content-tag="v-layout"
        row
        wrap
      >
        <template v-slot:item="props">
          <v-flex xs12 sm6 md4 lg3>
            <Painting :painting="props.item[0]" :museum="props.item[1]" />
          </v-flex>
        </template>
      </v-data-iterator>
    </v-container>
   
  </div>
</template>

<script>
// @ is an alias to /src
import Painting from "@/components/Painting.vue";
import Separator from "@/components/Separator.vue";

export default {
  name: "SearchPainting",
  props: {
    filter: String
  },
  components: {
    Painting,
    Separator
  },
  data() {
    return {
      museums: [],
      paintings: [],
      result_query:[],
      rowsPerPageItems: [4, 8, 12],
      pagination: {
        rowsPerPage: 4
      }
    };
  },
  mounted() {
    this.listPaintings();
  },
  methods: {
    listPaintings(){
      var filterInput = ""

     if(this.$route.params.filter && this.$route.params.filter == "inspireMe"){
       // call from the inspire me component
       this.$axios.get("localhost:4000/api/paintings/searchRandom")
        .then(response =>{ this.paintings = response.data;
                         this.paintings.forEach(painting => {                 
                           this.$axios.get("localhost:4000/api/museums",{params: {filter: { "name":painting.museumLabel}, sort: {}, limit: 32 }})
                          .then(response => {
                                              this.result_query.push([painting,response.data[0]])
                                            })
                          .catch(error=> (console.log(error)));                   
                         });
                         })
        .catch(error=> (console.log(error))); 
     }else{
      if(this.filter == "wishPainting"){        
          this.$axios.get("localhost:4000/api/wishPainting",{params: {filter: {email: localStorage.getItem('email')}}})
          .then(response =>{
                              response.data.forEach(wish => {
                                var painting = wish.paintingName;
                                 this.$axios.get("localhost:4000/api/paintings",{params: {filter: { "pictureLabel":painting}, sort: {}, limit: 1} })
                                 .then(response =>{
                                   var paintingData = response.data[0]
                                    this.$axios.get("localhost:4000/api/museums",{params: {filter: { "name":paintingData.museumLabel}, sort: {}, limit: 32 }})
                                    .then(response => {
                                              this.result_query.push([paintingData,response.data[0]])
                                            })
                                    .catch(error=> (console.log(error)));      
                                  })
                                  .catch(error=> (console.log(error)))
                              })
          })
          .catch(error=> (console.log(error)))
      }else{
        if(this.$route.params.filter){
          // call from the sarch component
          filterInput = {filter: this.$route.params.filter, sort: {}, limit: 720}
        }else{
          // call from most popular component
          if(this.filter == "mostPopular"){
              filterInput = {filter: {}, sort: {like: -1}, limit: 4} 
          }
        }
        this.$axios.get("localhost:4000/api/paintings",{params: filterInput})
        .then(response =>{ this.paintings = response.data;
                         this.paintings.forEach(painting => {                  
                           this.$axios.get("localhost:4000/api/museums",{params: {filter: { "name":painting.museumLabel}, sort: {}, limit: 32 }})
                          .then(response => {
                                              this.result_query.push([painting,response.data[0]])
                                            })
                          .catch(error=> (console.log(error)));                   
                         });
                         })
        .catch(error=> (console.log(error)));   
     }  
     } 
   },

    findMuseum(paintingMuseum){ 
      let museum;
           this.$axios.get("localhost:4000/api/museums",{params: {filter: { 'name': paintingMuseum}}})
                .then(response => (museum = response.data))
                .catch(error=> (console.log(error)));
        return museum;
      },
    isInspireMe(){
        return this.$route.params.filter == "inspireMe"
    },
    isResult(){
      return this.$route.params.filter != "inspireMe" && this.filter != "mostPopular" && this.filter != "wishPainting"
    }

  }
};
</script>
<style>
/*Style for web*/
@media screen and (min-width: 770px){
  #slogan {    
    font-size: 290%; 
    margin-top: 1%;
    margin-bottom: 2%;
  }
}
/*Style for mobile*/
@media screen and (max-width: 769px){
  #slogan {
    margin-top: 4%;
    margin-bottom: 8%;    
    font-size: 250%; 
  }
}
/*Shared Style*/
  *{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  }
  #slogan {
    font-style: oblique; 
    font-weight: 100; 
    color: #707070; 
  }
</style>
