<template>
  <div id="container">
    <div id="userstats">
      <Avatar class="avatar" :username="this.username" :img="img"/>
      <Levelbar class="levelbar" :level="level" :expThisLevel="percentageLevel" />
    </div>
    <v-divider></v-divider>
    <div id="userinfo">
      <h3 class="subtitle">Your profile</h3>
      <v-flex xs12 sm6>
        <v-text-field v-model="name" label="Name Surname" type="input"></v-text-field>
        <v-text-field v-model="email" label="Email" type="email"></v-text-field>
      </v-flex>
    </div>
    <v-divider></v-divider>
    <div id="wishlist">
      <h3 class="subtitle">Here your starred museums</h3>
      <div id="map">
        <GmapMap
          :center="{lat:46, lng:2}"
          :zoom="4"
          :options="{
            zoomControl: false,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            rotateControl: false,
            fullscreenControl: false,
            disableDefaultUi: false
          }"
          map-type-id="roadmap"
          style="width: 100%; height: 300px;"
        >
          <GmapMarker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position"
          />
        </GmapMap>

        
      </div>
      
      <h3 class="subtitle" id="HerePaintings">Here your starred paintings</h3>
      <SearchPainting filter= "wishPainting"/>
    </div>
  </div>
</template>

<script>
import Levelbar from "../components/Levelbar";
import Avatar from "../components/Avatar";
import SearchPainting from '@/views/SearchResultPaintings.vue'
export default {
  components: {
    Levelbar,
    Avatar,
    SearchPainting
  },
  data() {
    return {
      markers: [],
      name: '',
      email: '',
      username: '',
      exp: 0,
      logNumber: 0,
    };
  },
  computed: {
      img() {
        var log;
        if(this.logNumber < 3){
          log = 1
        }else if(this.logNumber>=3 && this.logNumber<7){
          log = 2
        }else if(this.logNumber>=7 && this.logNumber<30){
          log = 3
        }else if(this.logNumber>=30 && this.logNumber<60){
          log = 4
        }else if(this.logNumber>=60 && this.logNumber<180){
          log = 5
        }else{
          log = 6
        }
      return require('./../assets/img/avatar/avatar' + log+ '.jpg')
      },
      level() {
      var log;
        if(this.logNumber < 3){
          log = 1
        }else if(this.logNumber>=3 && this.logNumber<7){
          log = 2
        }else if(this.logNumber>=7 && this.logNumber<30){
          log = 3
        }else if(this.logNumber>=30 && this.logNumber<60){
          log = 4
        }else if(this.logNumber>=60 && this.logNumber<180){
          log = 5
        }else{
          log = 6
        }
        return log
      },
      percentageLevel() {
        var perc;
        if(this.logNumber < 3){
          perc = this.logNumber / 3 * 100
        }else if(this.logNumber>=3 && this.logNumber<7){
          perc = this.logNumber / 7 * 100
        }else if(this.logNumber>=7 && this.logNumber<30){
          perc = this.logNumber / 30 * 100
        }else if(this.logNumber>=30 && this.logNumber<60){
          perc = this.logNumber / 60 * 100
        }else if(this.logNumber>=60 && this.logNumber<180){
          perc = this.logNumber / 180 * 100
        }else{
          perc = 100
        }
        return Math.floor(perc)
      }
    },
  mounted() {
    this.getAllMuseumPosition();
  },
  methods: {
    getAllMuseumPosition(){
      this.$axios.get("localhost:4000/api/wishMuseums", {params: {filter:{ email: localStorage.getItem("email")}}})
             .then(response =>{ 
                this.museums = response.data;
                response.data.forEach(wish => {                  
                  this.$axios.get("localhost:4000/api/museums",{params: {filter: { "name":wish.museumName}, sort: {}, limit: 32 }})
                  .then(r => {
                      let museumCoordinates = String(r.data[0].coordinateLocation)
                      var array = museumCoordinates.split(" ")
                      var latMuseum = array[1].substring(0, array[1].length-1)
                      var lngMuseum = array[0].substring(6, array[0].length)
                      //this.markers.push({position: [parseFloat(latMuseum), parseFloat(lngMuseum)]});
                      this.markers.push({ position:{lat:parseFloat(latMuseum), lng:parseFloat(lngMuseum)}});
                    })
                  .catch(error=> (console.log(error)));                   
             });
            })
        .catch(error=> (console.log(error)));
    }
  },
  beforeMount: function() {
    this.$axios
      .post("localhost:4000/api/user", {
        email: localStorage.getItem('email')
      })
      .then(response => {
        if (response.data.status === "error") {
                console.log("Fatal error.");
              } else {
                this.name = response.data.data.userInfo.name_surname;
                this.username = response.data.data.userInfo.username;
                this.exp = response.data.data.userInfo.exp;
                this.email = response.data.data.userInfo.email;
                this.logNumber = response.data.data.userInfo.numberLogin
              }
      });
  }
};
</script>

<style scoped>
/*Style for 720p*/
@media screen and (min-width: 770px) and (max-width: 1280px){
  #HerePaintings{
    margin-top: 3%;
    margin-bottom: 0%;
  }
  .subtitle{
    margin-top:1%;
  }
}
/*Style for 1080p*/
@media screen and (min-width: 1281px){
  #HerePaintings{
    margin-top: 3%;
    margin-bottom: 0%;
  }
  .subtitle{
    margin-top:0%;
  }
}
/*style for mobile*/
@media screen and (max-width: 769px){
  #HerePaintings{
    margin-top: 7%;
    margin-bottom: 0%;
  }
  .subtitle{
    margin-top:1%;
  }
}
/*Shared style*/
*{
  font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
}
.subtitle{
  text-align: left;
  font-weight: bold;  
  color: #707070;
}
#userstats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.avatar {
  width: 50%;
  align-self: center;
}

.levelbar {
  width: 50%;
  align-self: center;
}

#userinfo,
#wishlist {
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: left;
}

#map {
  border: 6px solid #9f0e0e;
  border-radius: 10px;
  padding: 0px;
  margin: 1em 0em;
}

.v-btn {
  align-self: flex-end;
}
</style>